*{
    box-sizing: border-box;
}

body{
    margin: 0;
    /* to make elements go to the edge of the page */
    font-family: Inter, sans-serif;
    background-color: #282D35;
}

.nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    padding: 30px 25px;
    height: 90px;
}

.nav--logotext, .nav--pagetitle{
    margin: 0;
    /* to remove default margins of the headings */
}

.nav--logotext{
    margin-right: auto;
    /* to make .nav--pagetitle position to the right of the page */
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--pagetitle{
    color: #DEEBF8;
    font-weight: 600;
}

.nav--icon{
    height: 30px;
    margin-right: 7px;
}

main{
    padding: 57px 27px;
    color: white;
    background-image: url(./images/Group.png);
    background-repeat: no-repeat;
    background-position: right 75%;
    /* this means background position: x y */
}

.main--title{
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--list{
    margin-top: 46px;
    max-width: 400px;
}

.main--list > li{
    line-height: 19px;
    padding-block: 10px;
}

.main--list > li::marker{
    font-size: 1.4rem;
    color:#61DAFB;
}